.loginclass{
  font-family: Arial, Helvetica, sans-serif;
  margin:5% 10% 10% 30%;
  border:1px solid;
  width: 40%;
  background-color: #D3D3D3;
}

.loginheading{
  font-size: 20px;
  color:rgb(6, 50, 116);
}

.logindiv input[type="text"], input[type="password"]{
 width: 40%;
 height:40px;
 text-align: center;
}

.logindiv button{
  width:20%;
  height:30px;
  background-color: beige;
  color:rgb(6, 50, 116);
}

.logindiv button:hover{

  background-color:#0099ff;
  color: white;
}



.viewt{
  padding: 5px;
  font-size: 15px;
}

.al{
  margin-left:5%;
  width: 60%;
  height: 80%;
}


#addtasktable{
  margin-top: 7%;
  width:70%;
  border: 1px solid black;
  background-color:#D3D3D3;
}

.taskwhole{
  font-family: Arial, Helvetica, sans-serif;
}

.tab1 button{
  background-color :  beige;
}

.tab1 button:hover{
  background-color: #0099ff;
  color: white;
}

#link,#logouttask{
  float: right;
}

#float{
  float: right;
  margin-right:40px;
}

#welcome{
  font-size: 15px;
  color: #0099ff;
}

.taskwhole button{
  background-color :  beige;
}

.taskwhole button:hover{
  background-color: #0099ff;
  color: white;
}
