<span class="time-line-time">
  <span class="time-line-just-time">{{timeOnly}}</span>
  <span class="time-line-date">{{date}}</span>
</span>
<span class="time-line-indicator">
  <span class="time-circle-connector">
    <span class="time-circle-line"></span>
  </span>
  <span class="time-circle"></span>
</span>
<span class="time-line-message">
  {{yield}}
</span>
